APScheduler
beautifulsoup4
bs4
dj-database-url
Django
django-heroku
flask
gunicorn
lxml
matplotlib
python-dateutil>
numpy
packaging
pandas
Pillow
plotly
ply
psycopg2
pycodestyle
pyowm
pyparsing
PySocks
pyTelegramBotAPI
pytz
python-telegram-handler==2.2.1
requests
schedule
six
soupsieve
sqlparse
urllib3
telebot